html, body {
    font-size: 12pt;
    font-family: 'Open Sans', 'Roboto', 'Inter', 'Verdana', 'Geneva', 'Tahoma', sans-serif, 'Noto Color Emoji';
    font-weight: normal;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    overflow: hidden;
}

body {
    margin: 0;
}

#footer .default-footer {
    font-size: 11pt;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-break-before {
    page-break-before: always;
}
.page-break-after {
    page-break-after: always;
}
.no-page-break-inside {
    page-break-inside: avoid;
}